////////////////////////////////
// comfypixel.com variables
$body-bg             : #e6e6e6;
$base-font-color     : #252525;
$linkColor           : #EE4938;
$linkHoverColor      : saturate(lighten($linkColor, 15%), 60%);
$lightText           : lighten($base-font-color, 45%);
$em-base             : 16px;
@include establish-baseline;

$gutters: 2.4em;

////////////////////////////////
// site styles
html {font-size: $em-base;}
body {
	background: $body-bg;
	color: $base-font-color;
	font-family: $base-font-family;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3 {margin-bottom: 0;}
p {
	margin: .04em 0 1.5em;
	@include adjust-font-size-to(24px);
	@include adjust-leading-to(1.4, 24px);
}
a {
	&:link, &:visited {color: $linkColor;}
	&:hover, &:active {color: $linkHoverColor;}
}
main {
	header {
		margin: 0 auto;
		text-align: center;
		padding: 0 $gutters / 2;

		h1 {
			font-family: $girder-font-family;
			font-weight: 300;
			font-size: 6em;
			letter-spacing: -.02em;
			margin: 0 auto;
			padding: .5em 0 .25em;
			text-transform: uppercase;
			text-shadow: 0 1px 0 #fff;
			width: 100%;
		}
	}
}
.content {
	margin: 0 auto;
	width: $small-breakpoint;
	padding: 0 $gutters;

	@include respond-to('turn single column') {
		width: auto;
	}
	h2 {
		font-family: $girder-font-family;
		font-weight: 400;
		@include adjust-font-size-to(34px);
		@include adjust-leading-to(2.8, 34px);
		text-shadow: 0 1px 0 #fff;
	}
	.email, .phone {color: lighten($base-font-color, 35%);}
}
footer {
	border-top: 1px solid #ccc;
	margin: 4em auto 1em;
	padding: 1em 0;
	@include text-align(center);
	width: 66.666%;
}
