////////////////////////////////
// comfypixel.com variables
$body-bg             : #f0f0f0;
$base-font-color     : #252525;
$linkColor           : #EE4938;
$linkHoverColor      : saturate(lighten($linkColor, 15%), 60%);
$lightText           : lighten($base-font-color, 45%);
$em-base             : 16px;
@include establish-baseline;

////////////////////////////////
// site styles
html {font-size: $em-base;}
body {
	background: $body-bg;
	color: $base-font-color;
	font-family: $base-font-family;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3 {margin-bottom: .4em;}
p {
	@include adjust-font-size-to(20px);
	@include adjust-leading-to(1.2, 20px);
	margin: .04em 0 1.5em;

	@include respond-to('larger screens') {
		@include adjust-font-size-to(24px);
		@include adjust-leading-to(1.4, 24px);
	}
}
a {
	&:link, &:visited {color: $linkColor; text-decoration: none; padding: 0 3px;}
	&:hover, &:active {
		@include single-transition(background, .1s, linear, 0);
		background: $base-font-color;
		color: $linkHoverColor;
	}
}
main {
	header {
		margin: 0 auto;
		text-align: center;
		padding: 0 $gutters / 2;

		h1 {
			font-family: $girder-font-family;
			font-weight: 300;
			font-size: 6.2em;
			letter-spacing: -.02em;
			margin: 0 auto;
			padding: .5em 0 .25em;
			text-transform: uppercase;
			text-shadow: 0 1px 0 #fff;
			width: 100%;

			&.small-headline {display: none;}

			@include respond-to('turn single column') {
				@include adjust-font-size-to(54px);
				@include adjust-leading-to(2.4, 54px);
				margin: .4em auto;
				padding-left: 0; padding-right: 0;
				display: none;

				&.small-headline {display: block;}
			}
		}
	}
}
.content {
	margin: 0 auto;
	width: $small-breakpoint;
	padding: 0 $gutters *2;

	@include respond-to('turn single column') {
		width: auto;
		text-align: center;
	}
	h2 {
		@include adjust-font-size-to(28px);
		@include adjust-leading-to(1.4, 28px);
		font-family: $girder-font-family;
		font-weight: 400;
		text-transform: uppercase;
		text-shadow: 0 1px 0 #fff;

	@include respond-to('larger screens') {
		@include adjust-font-size-to(32px);
		@include adjust-leading-to(1.6, 32px);
	}
	}
	.email, .phone {color: lighten($base-font-color, 35%);}
}
footer {
	border-top: 1px solid #ccc;
	margin: 4em auto 1em;
	padding: 1em 0;
	@include text-align(center);
	width: 66.666%;
}
::selection {background: $base-font-color; color: $body-bg; text-shadow: none;}
::-moz-selection {background: $base-font-color; color: $body-bg; text-shadow: none;}
