	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% if page.title %} {{ page.title }} | {% endif %} Comfy Pixel Loves Interaction Design, Information Architecture and The User Experience.</title>
	<meta name="viewport" content="width=device-width">
	<meta name="author" content="{{ site.author }}" />
	<meta name="description" content="{{ site.description }}" />

	<link rel="shortcut icon" type="image/ico" href="assets/img/favicon.ico" />
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- {{ site.url }}/js/modernizr-2.5.3.min.js -->