	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% if page.title %} {{ page.title }} | {% endif %}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="author" content="{{ site.author }}" />
	<meta name="description" content="{{ site.description }}" />

	<link rel="shortcut icon" type="image/ico" href="assets/img/favicon.ico" />
	<link rel="stylesheet" href="assets/css/main.css">

	<script src="//use.edgefonts.net/source-sans-pro;lato:n1,n3,n4,n7.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->